@import 'styles/style.scss';

.header {
  width: 100%;
  height: auto;
  background-color: $red-base;
  .logo {
    height: 48px;
    padding-left: 15px;
    color: $white-base;
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
  }
  .menu {
    float: right;
    .btnSearch {
      display: inline-block;
      width: 48px;
      height: 48px;
      color: $white-base;
      font-size: 20px;
      text-align: center;
      line-height: 48px;
    }
  }
	.tab {
    display: flex;
		padding: 0 15px;
		background-color: $red-base;
		.item {
			flex: 1 1 auto;
			background-color: $white-base;
			text-align: center;
			a {
				display: block;
				padding: 10px 0px;
				box-sizing: border-box;
			}
			a.on {
				color: #fff;
				background-color: $green-dark-50;
				font-weight: bold;
			}
		}
		.item:first-child {
			border-right: 1px solid #eee;
		}
	}
}

.headerFixed {
  z-index: 20;
  position: fixed;
  top: 0px;
}

.headerSearch {
  position: relative;
  width: 100%;
  padding: 10px 15px 10px;
  background-color: $red-base;
	box-sizing: border-box;
  .input {
    padding-right: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btnSearch {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 42px;
    height: 42px;
    background-color: $green-dark-50;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    .momentum-icon {
      color: $white-base;
      font-size: 24px;
    }
  }
}
