@import 'styles/style.scss';
.searhListItem {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    a {
      width: 100%;
      min-height: 66px;
      display: table;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray-base;
      .image {
        float: left;
        position: relative;
        min-width: 60px;
        min-height: 87px;
        img {
          width: 100%;
        }
      }
      .noimage {
        background-color: #ececec;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 26px;
          height: 24px;
          margin-top: -12px;
          margin-left: -13px;
          background-image: url('../../static/images/noimage.png');
          background-size: 26px 24px;
        }
      }
      .info {
        display: table-cell;
        width: 92%;
        padding-left: 15px;
        overflow: hidden;
        h2 {
          float: left;
					margin: 3px 3px 5px 0px;
          b {
            color: #4889ff;
            font-weight: normal;
          }
        }
        .pubDate {
          float: left;
          margin-top: 3px;
        }
        .userRating {
          font-size: 13px;
          i {
            color: #FF5A5F;
          }
					.lineThrough {
						margin-right: 5px;
						color: #FF5A5F;
						text-decoration: line-through;
					}
        }
        .person {
          margin-top: 4px;
        }
      }
    }
  }
  .searhListItem:first-child {
    padding-top: 20px;
  }