.momentum-icon {
  display: inline-block;
  vertical-align: middle;
}

[data-icon]:before {
  font-family: "momentum" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="momentum-icon-"]:before,
[class*=" momentum-icon-"]:before {
  font-family: "momentum" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.momentum-icon-space-shuttle:before {
  content: "\61";
}
.momentum-icon-spinner:before {
  content: "\62";
}
.momentum-icon-spoon:before {
  content: "\63";
}
.momentum-icon-spotify:before {
  content: "\64";
}
.momentum-icon-square:before {
  content: "\65";
}
.momentum-icon-square-o:before {
  content: "\66";
}
.momentum-icon-stack-exchange:before {
  content: "\67";
}
.momentum-icon-stack-overflow:before {
  content: "\68";
}
.momentum-icon-star:before {
  content: "\69";
}
.momentum-icon-star-half:before {
  content: "\6a";
}
.momentum-icon-star-half-o:before {
  content: "\6b";
}
.momentum-icon-star-o:before {
  content: "\6c";
}
.momentum-icon-steam:before {
  content: "\6d";
}
.momentum-icon-steam-square:before {
  content: "\6e";
}
.momentum-icon-step-backward:before {
  content: "\6f";
}
.momentum-icon-step-forward:before {
  content: "\70";
}
.momentum-icon-stethoscope:before {
  content: "\71";
}
.momentum-icon-sticky-note:before {
  content: "\72";
}
.momentum-icon-sticky-note-o:before {
  content: "\73";
}
.momentum-icon-stop:before {
  content: "\74";
}
.momentum-icon-street-view:before {
  content: "\75";
}
.momentum-icon-strikethrough:before {
  content: "\76";
}
.momentum-icon-stumbleupon:before {
  content: "\77";
}
.momentum-icon-stumbleupon-circle:before {
  content: "\78";
}
.momentum-icon-subscript:before {
  content: "\79";
}
.momentum-icon-subway:before {
  content: "\7a";
}
.momentum-icon-suitcase:before {
  content: "\41";
}
.momentum-icon-sun-o:before {
  content: "\42";
}
.momentum-icon-superscript:before {
  content: "\43";
}
.momentum-icon-table:before {
  content: "\44";
}
.momentum-icon-tablet:before {
  content: "\45";
}
.momentum-icon-tachometer:before {
  content: "\46";
}
.momentum-icon-tag:before {
  content: "\47";
}
.momentum-icon-tags:before {
  content: "\48";
}
.momentum-icon-tasks:before {
  content: "\49";
}
.momentum-icon-taxi:before {
  content: "\4a";
}
.momentum-icon-television:before {
  content: "\4b";
}
.momentum-icon-tencent-weibo:before {
  content: "\4c";
}
.momentum-icon-terminal:before {
  content: "\4d";
}
.momentum-icon-text-height:before {
  content: "\4e";
}
.momentum-icon-text-width:before {
  content: "\4f";
}
.momentum-icon-th:before {
  content: "\50";
}
.momentum-icon-th-large:before {
  content: "\51";
}
.momentum-icon-th-list:before {
  content: "\52";
}
.momentum-icon-thumb-tack:before {
  content: "\53";
}
.momentum-icon-thumbs-down:before {
  content: "\54";
}
.momentum-icon-thumbs-o-down:before {
  content: "\55";
}
.momentum-icon-thumbs-o-up:before {
  content: "\56";
}
.momentum-icon-thumbs-up:before {
  content: "\57";
}
.momentum-icon-ticket:before {
  content: "\58";
}
.momentum-icon-times:before {
  content: "\59";
}
.momentum-icon-times-circle:before {
  content: "\5a";
}
.momentum-icon-times-circle-o:before {
  content: "\30";
}
.momentum-icon-tint:before {
  content: "\31";
}
.momentum-icon-toggle-off:before {
  content: "\32";
}
.momentum-icon-toggle-on:before {
  content: "\33";
}
.momentum-icon-trademark:before {
  content: "\34";
}
.momentum-icon-train:before {
  content: "\35";
}
.momentum-icon-transgender:before {
  content: "\36";
}
.momentum-icon-transgender-alt:before {
  content: "\37";
}
.momentum-icon-trash:before {
  content: "\38";
}
.momentum-icon-trash-o:before {
  content: "\39";
}
.momentum-icon-tree:before {
  content: "\21";
}
.momentum-icon-trello:before {
  content: "\22";
}
.momentum-icon-tripadvisor:before {
  content: "\23";
}
.momentum-icon-trophy:before {
  content: "\24";
}
.momentum-icon-truck:before {
  content: "\25";
}
.momentum-icon-try:before {
  content: "\26";
}
.momentum-icon-tty:before {
  content: "\27";
}
.momentum-icon-tumblr:before {
  content: "\28";
}
.momentum-icon-tumblr-square:before {
  content: "\29";
}
.momentum-icon-twitch:before {
  content: "\2a";
}
.momentum-icon-twitter:before {
  content: "\2b";
}
.momentum-icon-twitter-square:before {
  content: "\2c";
}
.momentum-icon-umbrella:before {
  content: "\2d";
}
.momentum-icon-underline:before {
  content: "\2e";
}
.momentum-icon-undo:before {
  content: "\2f";
}
.momentum-icon-university:before {
  content: "\3a";
}
.momentum-icon-unlock:before {
  content: "\3b";
}
.momentum-icon-unlock-alt:before {
  content: "\3c";
}
.momentum-icon-upload:before {
  content: "\3d";
}
.momentum-icon-usd:before {
  content: "\3e";
}
.momentum-icon-user:before {
  content: "\3f";
}
.momentum-icon-user-md:before {
  content: "\40";
}
.momentum-icon-user-plus:before {
  content: "\5b";
}
.momentum-icon-user-secret:before {
  content: "\5d";
}
.momentum-icon-user-times:before {
  content: "\5e";
}
.momentum-icon-users:before {
  content: "\5f";
}
.momentum-icon-venus:before {
  content: "\60";
}
.momentum-icon-venus-double:before {
  content: "\7b";
}
.momentum-icon-venus-mars:before {
  content: "\7c";
}
.momentum-icon-viacoin:before {
  content: "\7d";
}
.momentum-icon-video-camera:before {
  content: "\7e";
}
.momentum-icon-vimeo:before {
  content: "\5c";
}
.momentum-icon-vimeo-square:before {
  content: "\e000";
}
.momentum-icon-vine:before {
  content: "\e001";
}
.momentum-icon-vk:before {
  content: "\e002";
}
.momentum-icon-volume-down:before {
  content: "\e003";
}
.momentum-icon-volume-off:before {
  content: "\e004";
}
.momentum-icon-volume-up:before {
  content: "\e005";
}
.momentum-icon-weibo:before {
  content: "\e006";
}
.momentum-icon-weixin:before {
  content: "\e007";
}
.momentum-icon-whatsapp:before {
  content: "\e008";
}
.momentum-icon-wheelchair:before {
  content: "\e009";
}
.momentum-icon-wifi:before {
  content: "\e00a";
}
.momentum-icon-wikipedia-w:before {
  content: "\e00b";
}
.momentum-icon-windows:before {
  content: "\e00c";
}
.momentum-icon-wordpress:before {
  content: "\e00d";
}
.momentum-icon-wrench:before {
  content: "\e00e";
}
.momentum-icon-xing:before {
  content: "\e00f";
}
.momentum-icon-xing-square:before {
  content: "\e010";
}
.momentum-icon-y-combinator:before {
  content: "\e011";
}
.momentum-icon-yahoo:before {
  content: "\e012";
}
.momentum-icon-yelp:before {
  content: "\e013";
}
.momentum-icon-youtube:before {
  content: "\e014";
}
.momentum-icon-youtube-play:before {
  content: "\e015";
}
.momentum-icon-youtube-square:before {
  content: "\e016";
}
.momentum-icon-500px:before {
  content: "\e017";
}
.momentum-icon-adjust:before {
  content: "\e018";
}
.momentum-icon-adn:before {
  content: "\e019";
}
.momentum-icon-align-center:before {
  content: "\e01a";
}
.momentum-icon-align-justify:before {
  content: "\e01b";
}
.momentum-icon-align-left:before {
  content: "\e01c";
}
.momentum-icon-align-right:before {
  content: "\e01d";
}
.momentum-icon-amazon:before {
  content: "\e01e";
}
.momentum-icon-ambulance:before {
  content: "\e01f";
}
.momentum-icon-anchor:before {
  content: "\e020";
}
.momentum-icon-android:before {
  content: "\e021";
}
.momentum-icon-angellist:before {
  content: "\e022";
}
.momentum-icon-angle-double-down:before {
  content: "\e023";
}
.momentum-icon-angle-double-left:before {
  content: "\e024";
}
.momentum-icon-angle-double-right:before {
  content: "\e025";
}
.momentum-icon-angle-double-up:before {
  content: "\e026";
}
.momentum-icon-angle-down:before {
  content: "\e027";
}
.momentum-icon-angle-left:before {
  content: "\e028";
}
.momentum-icon-angle-right:before {
  content: "\e029";
}
.momentum-icon-angle-up:before {
  content: "\e02a";
}
.momentum-icon-apple:before {
  content: "\e02b";
}
.momentum-icon-archive:before {
  content: "\e02c";
}
.momentum-icon-area-chart:before {
  content: "\e02d";
}
.momentum-icon-arrow-circle-down:before {
  content: "\e02e";
}
.momentum-icon-arrow-circle-left:before {
  content: "\e02f";
}
.momentum-icon-arrow-circle-o-down:before {
  content: "\e030";
}
.momentum-icon-arrow-circle-o-left:before {
  content: "\e031";
}
.momentum-icon-arrow-circle-o-right:before {
  content: "\e032";
}
.momentum-icon-arrow-circle-o-up:before {
  content: "\e033";
}
.momentum-icon-arrow-circle-right:before {
  content: "\e034";
}
.momentum-icon-arrow-circle-up:before {
  content: "\e035";
}
.momentum-icon-arrow-down:before {
  content: "\e036";
}
.momentum-icon-arrow-left:before {
  content: "\e037";
}
.momentum-icon-arrow-right:before {
  content: "\e038";
}
.momentum-icon-arrow-up:before {
  content: "\e039";
}
.momentum-icon-arrows:before {
  content: "\e03a";
}
.momentum-icon-arrows-alt:before {
  content: "\e03b";
}
.momentum-icon-arrows-h:before {
  content: "\e03c";
}
.momentum-icon-arrows-v:before {
  content: "\e03d";
}
.momentum-icon-asterisk:before {
  content: "\e03e";
}
.momentum-icon-at:before {
  content: "\e03f";
}
.momentum-icon-backward:before {
  content: "\e040";
}
.momentum-icon-balance-scale:before {
  content: "\e041";
}
.momentum-icon-ban:before {
  content: "\e042";
}
.momentum-icon-bar-chart:before {
  content: "\e043";
}
.momentum-icon-barcode:before {
  content: "\e044";
}
.momentum-icon-bars:before {
  content: "\e045";
}
.momentum-icon-battery-empty:before {
  content: "\e046";
}
.momentum-icon-battery-full:before {
  content: "\e047";
}
.momentum-icon-battery-half:before {
  content: "\e048";
}
.momentum-icon-battery-quarter:before {
  content: "\e049";
}
.momentum-icon-battery-three-quarters:before {
  content: "\e04a";
}
.momentum-icon-bed:before {
  content: "\e04b";
}
.momentum-icon-beer:before {
  content: "\e04c";
}
.momentum-icon-behance:before {
  content: "\e04d";
}
.momentum-icon-behance-square:before {
  content: "\e04e";
}
.momentum-icon-bell:before {
  content: "\e04f";
}
.momentum-icon-bell-o:before {
  content: "\e050";
}
.momentum-icon-bell-slash:before {
  content: "\e051";
}
.momentum-icon-bell-slash-o:before {
  content: "\e052";
}
.momentum-icon-bicycle:before {
  content: "\e053";
}
.momentum-icon-binoculars:before {
  content: "\e054";
}
.momentum-icon-birthday-cake:before {
  content: "\e055";
}
.momentum-icon-bitbucket:before {
  content: "\e056";
}
.momentum-icon-bitbucket-square:before {
  content: "\e057";
}
.momentum-icon-black-tie:before {
  content: "\e058";
}
.momentum-icon-bold:before {
  content: "\e059";
}
.momentum-icon-bolt:before {
  content: "\e05a";
}
.momentum-icon-bomb:before {
  content: "\e05b";
}
.momentum-icon-book:before {
  content: "\e05c";
}
.momentum-icon-bookmark:before {
  content: "\e05d";
}
.momentum-icon-bookmark-o:before {
  content: "\e05e";
}
.momentum-icon-briefcase:before {
  content: "\e05f";
}
.momentum-icon-btc:before {
  content: "\e060";
}
.momentum-icon-bug:before {
  content: "\e061";
}
.momentum-icon-building:before {
  content: "\e062";
}
.momentum-icon-building-o:before {
  content: "\e063";
}
.momentum-icon-bullhorn:before {
  content: "\e064";
}
.momentum-icon-bullseye:before {
  content: "\e065";
}
.momentum-icon-bus:before {
  content: "\e066";
}
.momentum-icon-buysellads:before {
  content: "\e067";
}
.momentum-icon-calculator:before {
  content: "\e068";
}
.momentum-icon-calendar:before {
  content: "\e069";
}
.momentum-icon-calendar-check-o:before {
  content: "\e06a";
}
.momentum-icon-calendar-minus-o:before {
  content: "\e06b";
}
.momentum-icon-calendar-o:before {
  content: "\e06c";
}
.momentum-icon-calendar-plus-o:before {
  content: "\e06d";
}
.momentum-icon-calendar-times-o:before {
  content: "\e06e";
}
.momentum-icon-camera:before {
  content: "\e06f";
}
.momentum-icon-camera-retro:before {
  content: "\e070";
}
.momentum-icon-car:before {
  content: "\e071";
}
.momentum-icon-caret-down:before {
  content: "\e072";
}
.momentum-icon-caret-left:before {
  content: "\e073";
}
.momentum-icon-caret-right:before {
  content: "\e074";
}
.momentum-icon-caret-square-o-down:before {
  content: "\e075";
}
.momentum-icon-caret-square-o-left:before {
  content: "\e076";
}
.momentum-icon-caret-square-o-right:before {
  content: "\e077";
}
.momentum-icon-caret-square-o-up:before {
  content: "\e078";
}
.momentum-icon-caret-up:before {
  content: "\e079";
}
.momentum-icon-cart-arrow-down:before {
  content: "\e07a";
}
.momentum-icon-cart-plus:before {
  content: "\e07b";
}
.momentum-icon-cc:before {
  content: "\e07c";
}
.momentum-icon-cc-amex:before {
  content: "\e07d";
}
.momentum-icon-cc-diners-club:before {
  content: "\e07e";
}
.momentum-icon-cc-discover:before {
  content: "\e07f";
}
.momentum-icon-cc-jcb:before {
  content: "\e080";
}
.momentum-icon-cc-mastercard:before {
  content: "\e081";
}
.momentum-icon-cc-paypal:before {
  content: "\e082";
}
.momentum-icon-cc-stripe:before {
  content: "\e083";
}
.momentum-icon-cc-visa:before {
  content: "\e084";
}
.momentum-icon-certificate:before {
  content: "\e085";
}
.momentum-icon-chain-broken:before {
  content: "\e086";
}
.momentum-icon-check:before {
  content: "\e087";
}
.momentum-icon-check-circle:before {
  content: "\e088";
}
.momentum-icon-check-circle-o:before {
  content: "\e089";
}
.momentum-icon-check-square:before {
  content: "\e08a";
}
.momentum-icon-check-square-o:before {
  content: "\e08b";
}
.momentum-icon-chevron-circle-down:before {
  content: "\e08c";
}
.momentum-icon-chevron-circle-left:before {
  content: "\e08d";
}
.momentum-icon-chevron-circle-right:before {
  content: "\e08e";
}
.momentum-icon-chevron-circle-up:before {
  content: "\e08f";
}
.momentum-icon-chevron-down:before {
  content: "\e090";
}
.momentum-icon-chevron-left:before {
  content: "\e091";
}
.momentum-icon-chevron-right:before {
  content: "\e092";
}
.momentum-icon-chevron-up:before {
  content: "\e093";
}
.momentum-icon-child:before {
  content: "\e094";
}
.momentum-icon-chrome:before {
  content: "\e095";
}
.momentum-icon-circle:before {
  content: "\e096";
}
.momentum-icon-circle-o:before {
  content: "\e097";
}
.momentum-icon-circle-o-notch:before {
  content: "\e098";
}
.momentum-icon-circle-thin:before {
  content: "\e099";
}
.momentum-icon-clipboard:before {
  content: "\e09a";
}
.momentum-icon-clock-o:before {
  content: "\e09b";
}
.momentum-icon-clone:before {
  content: "\e09c";
}
.momentum-icon-cloud:before {
  content: "\e09d";
}
.momentum-icon-cloud-download:before {
  content: "\e09e";
}
.momentum-icon-cloud-upload:before {
  content: "\e09f";
}
.momentum-icon-code:before {
  content: "\e0a0";
}
.momentum-icon-code-fork:before {
  content: "\e0a1";
}
.momentum-icon-codepen:before {
  content: "\e0a2";
}
.momentum-icon-coffee:before {
  content: "\e0a3";
}
.momentum-icon-cog:before {
  content: "\e0a4";
}
.momentum-icon-cogs:before {
  content: "\e0a5";
}
.momentum-icon-columns:before {
  content: "\e0a6";
}
.momentum-icon-comment:before {
  content: "\e0a7";
}
.momentum-icon-comment-o:before {
  content: "\e0a8";
}
.momentum-icon-commenting:before {
  content: "\e0a9";
}
.momentum-icon-commenting-o:before {
  content: "\e0aa";
}
.momentum-icon-comments:before {
  content: "\e0ab";
}
.momentum-icon-comments-o:before {
  content: "\e0ac";
}
.momentum-icon-compass:before {
  content: "\e0ad";
}
.momentum-icon-compress:before {
  content: "\e0ae";
}
.momentum-icon-connectdevelop:before {
  content: "\e0af";
}
.momentum-icon-contao:before {
  content: "\e0b0";
}
.momentum-icon-copyright:before {
  content: "\e0b1";
}
.momentum-icon-creative-commons:before {
  content: "\e0b2";
}
.momentum-icon-credit-card:before {
  content: "\e0b3";
}
.momentum-icon-crop:before {
  content: "\e0b4";
}
.momentum-icon-crosshairs:before {
  content: "\e0b5";
}
.momentum-icon-css3:before {
  content: "\e0b6";
}
.momentum-icon-cube:before {
  content: "\e0b7";
}
.momentum-icon-cubes:before {
  content: "\e0b8";
}
.momentum-icon-cutlery:before {
  content: "\e0b9";
}
.momentum-icon-dashcube:before {
  content: "\e0ba";
}
.momentum-icon-database:before {
  content: "\e0bb";
}
.momentum-icon-delicious:before {
  content: "\e0bc";
}
.momentum-icon-desktop:before {
  content: "\e0bd";
}
.momentum-icon-deviantart:before {
  content: "\e0be";
}
.momentum-icon-diamond:before {
  content: "\e0bf";
}
.momentum-icon-digg:before {
  content: "\e0c0";
}
.momentum-icon-dot-circle-o:before {
  content: "\e0c1";
}
.momentum-icon-download:before {
  content: "\e0c2";
}
.momentum-icon-dribbble:before {
  content: "\e0c3";
}
.momentum-icon-dropbox:before {
  content: "\e0c4";
}
.momentum-icon-drupal:before {
  content: "\e0c5";
}
.momentum-icon-eject:before {
  content: "\e0c6";
}
.momentum-icon-ellipsis-h:before {
  content: "\e0c7";
}
.momentum-icon-ellipsis-v:before {
  content: "\e0c8";
}
.momentum-icon-empire:before {
  content: "\e0c9";
}
.momentum-icon-envelope:before {
  content: "\e0ca";
}
.momentum-icon-envelope-o:before {
  content: "\e0cb";
}
.momentum-icon-envelope-square:before {
  content: "\e0cc";
}
.momentum-icon-eraser:before {
  content: "\e0cd";
}
.momentum-icon-eur:before {
  content: "\e0ce";
}
.momentum-icon-exchange:before {
  content: "\e0cf";
}
.momentum-icon-exclamation:before {
  content: "\e0d0";
}
.momentum-icon-exclamation-circle:before {
  content: "\e0d1";
}
.momentum-icon-exclamation-triangle:before {
  content: "\e0d2";
}
.momentum-icon-expand:before {
  content: "\e0d3";
}
.momentum-icon-expeditedssl:before {
  content: "\e0d4";
}
.momentum-icon-external-link:before {
  content: "\e0d5";
}
.momentum-icon-external-link-square:before {
  content: "\e0d6";
}
.momentum-icon-eye:before {
  content: "\e0d7";
}
.momentum-icon-eye-slash:before {
  content: "\e0d8";
}
.momentum-icon-eyedropper:before {
  content: "\e0d9";
}
.momentum-icon-facebook:before {
  content: "\e0da";
}
.momentum-icon-facebook-official:before {
  content: "\e0db";
}
.momentum-icon-facebook-square:before {
  content: "\e0dc";
}
.momentum-icon-fast-backward:before {
  content: "\e0dd";
}
.momentum-icon-fast-forward:before {
  content: "\e0de";
}
.momentum-icon-fax:before {
  content: "\e0df";
}
.momentum-icon-female:before {
  content: "\e0e0";
}
.momentum-icon-fighter-jet:before {
  content: "\e0e1";
}
.momentum-icon-file:before {
  content: "\e0e2";
}
.momentum-icon-file-archive-o:before {
  content: "\e0e3";
}
.momentum-icon-file-audio-o:before {
  content: "\e0e4";
}
.momentum-icon-file-code-o:before {
  content: "\e0e5";
}
.momentum-icon-file-excel-o:before {
  content: "\e0e6";
}
.momentum-icon-file-image-o:before {
  content: "\e0e7";
}
.momentum-icon-file-o:before {
  content: "\e0e8";
}
.momentum-icon-file-pdf-o:before {
  content: "\e0e9";
}
.momentum-icon-file-powerpoint-o:before {
  content: "\e0ea";
}
.momentum-icon-file-text:before {
  content: "\e0eb";
}
.momentum-icon-file-text-o:before {
  content: "\e0ec";
}
.momentum-icon-file-video-o:before {
  content: "\e0ed";
}
.momentum-icon-file-word-o:before {
  content: "\e0ee";
}
.momentum-icon-files-o:before {
  content: "\e0ef";
}
.momentum-icon-film:before {
  content: "\e0f0";
}
.momentum-icon-filter:before {
  content: "\e0f1";
}
.momentum-icon-fire:before {
  content: "\e0f2";
}
.momentum-icon-fire-extinguisher:before {
  content: "\e0f3";
}
.momentum-icon-firefox:before {
  content: "\e0f4";
}
.momentum-icon-flag:before {
  content: "\e0f5";
}
.momentum-icon-flag-checkered:before {
  content: "\e0f6";
}
.momentum-icon-flag-o:before {
  content: "\e0f7";
}
.momentum-icon-flask:before {
  content: "\e0f8";
}
.momentum-icon-flickr:before {
  content: "\e0f9";
}
.momentum-icon-floppy-o:before {
  content: "\e0fa";
}
.momentum-icon-folder:before {
  content: "\e0fb";
}
.momentum-icon-folder-o:before {
  content: "\e0fc";
}
.momentum-icon-folder-open:before {
  content: "\e0fd";
}
.momentum-icon-folder-open-o:before {
  content: "\e0fe";
}
.momentum-icon-font:before {
  content: "\e0ff";
}
.momentum-icon-fonticons:before {
  content: "\e100";
}
.momentum-icon-forumbee:before {
  content: "\e101";
}
.momentum-icon-forward:before {
  content: "\e102";
}
.momentum-icon-foursquare:before {
  content: "\e103";
}
.momentum-icon-frown-o:before {
  content: "\e104";
}
.momentum-icon-futbol-o:before {
  content: "\e105";
}
.momentum-icon-gamepad:before {
  content: "\e106";
}
.momentum-icon-gavel:before {
  content: "\e107";
}
.momentum-icon-gbp:before {
  content: "\e108";
}
.momentum-icon-genderless:before {
  content: "\e109";
}
.momentum-icon-get-pocket:before {
  content: "\e10a";
}
.momentum-icon-gg:before {
  content: "\e10b";
}
.momentum-icon-gg-circle:before {
  content: "\e10c";
}
.momentum-icon-gift:before {
  content: "\e10d";
}
.momentum-icon-git:before {
  content: "\e10e";
}
.momentum-icon-git-square:before {
  content: "\e10f";
}
.momentum-icon-github:before {
  content: "\e110";
}
.momentum-icon-github-alt:before {
  content: "\e111";
}
.momentum-icon-github-square:before {
  content: "\e112";
}
.momentum-icon-glass:before {
  content: "\e113";
}
.momentum-icon-globe:before {
  content: "\e114";
}
.momentum-icon-google:before {
  content: "\e115";
}
.momentum-icon-google-plus:before {
  content: "\e116";
}
.momentum-icon-google-plus-square:before {
  content: "\e117";
}
.momentum-icon-google-wallet:before {
  content: "\e118";
}
.momentum-icon-graduation-cap:before {
  content: "\e119";
}
.momentum-icon-gratipay:before {
  content: "\e11a";
}
.momentum-icon-h-square:before {
  content: "\e11b";
}
.momentum-icon-hacker-news:before {
  content: "\e11c";
}
.momentum-icon-hand-lizard-o:before {
  content: "\e11d";
}
.momentum-icon-hand-o-down:before {
  content: "\e11e";
}
.momentum-icon-hand-o-left:before {
  content: "\e11f";
}
.momentum-icon-hand-o-right:before {
  content: "\e120";
}
.momentum-icon-hand-o-up:before {
  content: "\e121";
}
.momentum-icon-hand-paper-o:before {
  content: "\e122";
}
.momentum-icon-hand-peace-o:before {
  content: "\e123";
}
.momentum-icon-hand-pointer-o:before {
  content: "\e124";
}
.momentum-icon-hand-rock-o:before {
  content: "\e125";
}
.momentum-icon-hand-scissors-o:before {
  content: "\e126";
}
.momentum-icon-hand-spock-o:before {
  content: "\e127";
}
.momentum-icon-hdd-o:before {
  content: "\e128";
}
.momentum-icon-header:before {
  content: "\e129";
}
.momentum-icon-headphones:before {
  content: "\e12a";
}
.momentum-icon-heart:before {
  content: "\e12b";
}
.momentum-icon-heart-o:before {
  content: "\e12c";
}
.momentum-icon-heartbeat:before {
  content: "\e12d";
}
.momentum-icon-history:before {
  content: "\e12e";
}
.momentum-icon-home:before {
  content: "\e12f";
}
.momentum-icon-hospital-o:before {
  content: "\e130";
}
.momentum-icon-hourglass:before {
  content: "\e131";
}
.momentum-icon-hourglass-end:before {
  content: "\e132";
}
.momentum-icon-hourglass-half:before {
  content: "\e133";
}
.momentum-icon-hourglass-o:before {
  content: "\e134";
}
.momentum-icon-hourglass-start:before {
  content: "\e135";
}
.momentum-icon-houzz:before {
  content: "\e136";
}
.momentum-icon-html5:before {
  content: "\e137";
}
.momentum-icon-i-cursor:before {
  content: "\e138";
}
.momentum-icon-ils:before {
  content: "\e139";
}
.momentum-icon-inbox:before {
  content: "\e13a";
}
.momentum-icon-indent:before {
  content: "\e13b";
}
.momentum-icon-industry:before {
  content: "\e13c";
}
.momentum-icon-info:before {
  content: "\e13d";
}
.momentum-icon-info-circle:before {
  content: "\e13e";
}
.momentum-icon-inr:before {
  content: "\e13f";
}
.momentum-icon-instagram:before {
  content: "\e140";
}
.momentum-icon-internet-explorer:before {
  content: "\e141";
}
.momentum-icon-ioxhost:before {
  content: "\e142";
}
.momentum-icon-italic:before {
  content: "\e143";
}
.momentum-icon-joomla:before {
  content: "\e144";
}
.momentum-icon-jpy:before {
  content: "\e145";
}
.momentum-icon-jsfiddle:before {
  content: "\e146";
}
.momentum-icon-key:before {
  content: "\e147";
}
.momentum-icon-keyboard-o:before {
  content: "\e148";
}
.momentum-icon-krw:before {
  content: "\e149";
}
.momentum-icon-language:before {
  content: "\e14a";
}
.momentum-icon-laptop:before {
  content: "\e14b";
}
.momentum-icon-lastfm:before {
  content: "\e14c";
}
.momentum-icon-lastfm-square:before {
  content: "\e14d";
}
.momentum-icon-leaf:before {
  content: "\e14e";
}
.momentum-icon-leanpub:before {
  content: "\e14f";
}
.momentum-icon-lemon-o:before {
  content: "\e150";
}
.momentum-icon-level-down:before {
  content: "\e151";
}
.momentum-icon-level-up:before {
  content: "\e152";
}
.momentum-icon-life-ring:before {
  content: "\e153";
}
.momentum-icon-lightbulb-o:before {
  content: "\e154";
}
.momentum-icon-line-chart:before {
  content: "\e155";
}
.momentum-icon-link:before {
  content: "\e156";
}
.momentum-icon-linkedin:before {
  content: "\e157";
}
.momentum-icon-linkedin-square:before {
  content: "\e158";
}
.momentum-icon-linux:before {
  content: "\e159";
}
.momentum-icon-list:before {
  content: "\e15a";
}
.momentum-icon-list-alt:before {
  content: "\e15b";
}
.momentum-icon-list-ol:before {
  content: "\e15c";
}
.momentum-icon-list-ul:before {
  content: "\e15d";
}
.momentum-icon-location-arrow:before {
  content: "\e15e";
}
.momentum-icon-lock:before {
  content: "\e15f";
}
.momentum-icon-long-arrow-down:before {
  content: "\e160";
}
.momentum-icon-long-arrow-left:before {
  content: "\e161";
}
.momentum-icon-long-arrow-right:before {
  content: "\e162";
}
.momentum-icon-long-arrow-up:before {
  content: "\e163";
}
.momentum-icon-magic:before {
  content: "\e164";
}
.momentum-icon-magnet:before {
  content: "\e165";
}
.momentum-icon-male:before {
  content: "\e166";
}
.momentum-icon-map:before {
  content: "\e167";
}
.momentum-icon-map-marker:before {
  content: "\e168";
}
.momentum-icon-map-o:before {
  content: "\e169";
}
.momentum-icon-map-pin:before {
  content: "\e16a";
}
.momentum-icon-map-signs:before {
  content: "\e16b";
}
.momentum-icon-mars:before {
  content: "\e16c";
}
.momentum-icon-mars-double:before {
  content: "\e16d";
}
.momentum-icon-mars-stroke:before {
  content: "\e16e";
}
.momentum-icon-mars-stroke-h:before {
  content: "\e16f";
}
.momentum-icon-mars-stroke-v:before {
  content: "\e170";
}
.momentum-icon-maxcdn:before {
  content: "\e171";
}
.momentum-icon-meanpath:before {
  content: "\e172";
}
.momentum-icon-medium:before {
  content: "\e173";
}
.momentum-icon-medkit:before {
  content: "\e174";
}
.momentum-icon-meh-o:before {
  content: "\e175";
}
.momentum-icon-mercury:before {
  content: "\e176";
}
.momentum-icon-microphone:before {
  content: "\e177";
}
.momentum-icon-microphone-slash:before {
  content: "\e178";
}
.momentum-icon-minus:before {
  content: "\e179";
}
.momentum-icon-minus-circle:before {
  content: "\e17a";
}
.momentum-icon-minus-square:before {
  content: "\e17b";
}
.momentum-icon-minus-square-o:before {
  content: "\e17c";
}
.momentum-icon-mobile:before {
  content: "\e17d";
}
.momentum-icon-money:before {
  content: "\e17e";
}
.momentum-icon-moon-o:before {
  content: "\e17f";
}
.momentum-icon-motorcycle:before {
  content: "\e180";
}
.momentum-icon-mouse-pointer:before {
  content: "\e181";
}
.momentum-icon-music:before {
  content: "\e182";
}
.momentum-icon-neuter:before {
  content: "\e183";
}
.momentum-icon-newspaper-o:before {
  content: "\e184";
}
.momentum-icon-object-group:before {
  content: "\e185";
}
.momentum-icon-object-ungroup:before {
  content: "\e186";
}
.momentum-icon-odnoklassniki:before {
  content: "\e187";
}
.momentum-icon-odnoklassniki-square:before {
  content: "\e188";
}
.momentum-icon-opencart:before {
  content: "\e189";
}
.momentum-icon-openid:before {
  content: "\e18a";
}
.momentum-icon-opera:before {
  content: "\e18b";
}
.momentum-icon-optin-monster:before {
  content: "\e18c";
}
.momentum-icon-outdent:before {
  content: "\e18d";
}
.momentum-icon-pagelines:before {
  content: "\e18e";
}
.momentum-icon-paint-brush:before {
  content: "\e18f";
}
.momentum-icon-paper-plane:before {
  content: "\e190";
}
.momentum-icon-paper-plane-o:before {
  content: "\e191";
}
.momentum-icon-paperclip:before {
  content: "\e192";
}
.momentum-icon-paragraph:before {
  content: "\e193";
}
.momentum-icon-pause:before {
  content: "\e194";
}
.momentum-icon-paw:before {
  content: "\e195";
}
.momentum-icon-paypal:before {
  content: "\e196";
}
.momentum-icon-pencil:before {
  content: "\e197";
}
.momentum-icon-pencil-square:before {
  content: "\e198";
}
.momentum-icon-pencil-square-o:before {
  content: "\e199";
}
.momentum-icon-phone:before {
  content: "\e19a";
}
.momentum-icon-phone-square:before {
  content: "\e19b";
}
.momentum-icon-picture-o:before {
  content: "\e19c";
}
.momentum-icon-pie-chart:before {
  content: "\e19d";
}
.momentum-icon-pied-piper:before {
  content: "\e19e";
}
.momentum-icon-pied-piper-alt:before {
  content: "\e19f";
}
.momentum-icon-pinterest:before {
  content: "\e1a0";
}
.momentum-icon-pinterest-p:before {
  content: "\e1a1";
}
.momentum-icon-pinterest-square:before {
  content: "\e1a2";
}
.momentum-icon-plane:before {
  content: "\e1a3";
}
.momentum-icon-play:before {
  content: "\e1a4";
}
.momentum-icon-play-circle:before {
  content: "\e1a5";
}
.momentum-icon-play-circle-o:before {
  content: "\e1a6";
}
.momentum-icon-plug:before {
  content: "\e1a7";
}
.momentum-icon-plus:before {
  content: "\e1a8";
}
.momentum-icon-plus-circle:before {
  content: "\e1a9";
}
.momentum-icon-plus-square:before {
  content: "\e1aa";
}
.momentum-icon-plus-square-o:before {
  content: "\e1ab";
}
.momentum-icon-power-off:before {
  content: "\e1ac";
}
.momentum-icon-print:before {
  content: "\e1ad";
}
.momentum-icon-puzzle-piece:before {
  content: "\e1ae";
}
.momentum-icon-qq:before {
  content: "\e1af";
}
.momentum-icon-qrcode:before {
  content: "\e1b0";
}
.momentum-icon-question:before {
  content: "\e1b1";
}
.momentum-icon-question-circle:before {
  content: "\e1b2";
}
.momentum-icon-quote-left:before {
  content: "\e1b3";
}
.momentum-icon-quote-right:before {
  content: "\e1b4";
}
.momentum-icon-random:before {
  content: "\e1b5";
}
.momentum-icon-rebel:before {
  content: "\e1b6";
}
.momentum-icon-recycle:before {
  content: "\e1b7";
}
.momentum-icon-reddit:before {
  content: "\e1b8";
}
.momentum-icon-reddit-square:before {
  content: "\e1b9";
}
.momentum-icon-refresh:before {
  content: "\e1ba";
}
.momentum-icon-registered:before {
  content: "\e1bb";
}
.momentum-icon-renren:before {
  content: "\e1bc";
}
.momentum-icon-repeat:before {
  content: "\e1bd";
}
.momentum-icon-reply:before {
  content: "\e1be";
}
.momentum-icon-reply-all:before {
  content: "\e1bf";
}
.momentum-icon-retweet:before {
  content: "\e1c0";
}
.momentum-icon-road:before {
  content: "\e1c1";
}
.momentum-icon-rocket:before {
  content: "\e1c2";
}
.momentum-icon-rss:before {
  content: "\e1c3";
}
.momentum-icon-rss-square:before {
  content: "\e1c4";
}
.momentum-icon-rub:before {
  content: "\e1c5";
}
.momentum-icon-safari:before {
  content: "\e1c6";
}
.momentum-icon-scissors:before {
  content: "\e1c7";
}
.momentum-icon-search:before {
  content: "\e1c8";
}
.momentum-icon-search-minus:before {
  content: "\e1c9";
}
.momentum-icon-search-plus:before {
  content: "\e1ca";
}
.momentum-icon-sellsy:before {
  content: "\e1cb";
}
.momentum-icon-server:before {
  content: "\e1cc";
}
.momentum-icon-share:before {
  content: "\e1cd";
}
.momentum-icon-share-alt:before {
  content: "\e1ce";
}
.momentum-icon-share-alt-square:before {
  content: "\e1cf";
}
.momentum-icon-share-square:before {
  content: "\e1d0";
}
.momentum-icon-share-square-o:before {
  content: "\e1d1";
}
.momentum-icon-shield:before {
  content: "\e1d2";
}
.momentum-icon-ship:before {
  content: "\e1d3";
}
.momentum-icon-shirtsinbulk:before {
  content: "\e1d4";
}
.momentum-icon-shopping-cart:before {
  content: "\e1d5";
}
.momentum-icon-sign-in:before {
  content: "\e1d6";
}
.momentum-icon-sign-out:before {
  content: "\e1d7";
}
.momentum-icon-signal:before {
  content: "\e1d8";
}
.momentum-icon-simplybuilt:before {
  content: "\e1d9";
}
.momentum-icon-sitemap:before {
  content: "\e1da";
}
.momentum-icon-skyatlas:before {
  content: "\e1db";
}
.momentum-icon-skype:before {
  content: "\e1dc";
}
.momentum-icon-slack:before {
  content: "\e1dd";
}
.momentum-icon-sliders:before {
  content: "\e1de";
}
.momentum-icon-slideshare:before {
  content: "\e1df";
}
.momentum-icon-smile-o:before {
  content: "\e1e0";
}
.momentum-icon-sort:before {
  content: "\e1e1";
}
.momentum-icon-sort-alpha-asc:before {
  content: "\e1e2";
}
.momentum-icon-sort-alpha-desc:before {
  content: "\e1e3";
}
.momentum-icon-sort-amount-asc:before {
  content: "\e1e4";
}
.momentum-icon-sort-amount-desc:before {
  content: "\e1e5";
}
.momentum-icon-sort-asc:before {
  content: "\e1e6";
}
.momentum-icon-sort-desc:before {
  content: "\e1e7";
}
.momentum-icon-sort-numeric-asc:before {
  content: "\e1e8";
}
.momentum-icon-sort-numeric-desc:before {
  content: "\e1e9";
}
.momentum-icon-soundcloud:before {
  content: "\e1ea";
}
